<ion-header>
  <ion-navbar>
    <ion-title>
      {{'title_profile'|translate|uppercase}}
    </ion-title>
    <ion-buttons end>
      <button-home></button-home>
      <button-notifications></button-notifications>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="profile-page">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="profile-img" *ngIf="student.contentType" [src]="profilePicture" />
        <img class="profile-img" *ngIf="!student.contentType" src="assets/images/profile-picture.png" />
      </ion-col>
    </ion-row>
    <ion-row *ngIf="editMode">
      <ion-col>
        <div>
          <input id="uploadInputFile" type="file" accept="image/*" ng2FileSelect [uploader]="uploader" />
        </div>
      </ion-col>

      <ion-col>
        <button class="button-add-stage label-button" ion-button clear (click)="removePicture()">{{'profile_remove_picture_label'|translate}}</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="profile-title-label">
          {{'profile_anagrafica_label'|translate|uppercase}}
        </div>
      </ion-col>
      <ion-col>
        <div class="profile-title-label">
          {{'profile_contacts_label'|translate|uppercase}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span> {{'profile_name_label'|translate}}</span>
        <span class="profile-field" *ngIf="student.name">{{student.name}}</span>
      </ion-col>
      <ion-col>
        <span class="span-input">{{'profile_tel_label'|translate}}</span>
        <span class="profile-field" *ngIf="!editMode && student.phone">{{student.phone}}</span>
        <span>
          <ion-item *ngIf="editMode" class="profile-input">
            <ion-input type="text" placeholder="{{'profile_tel_input_placeholder'|translate}}" [(ngModel)]="student.phone"></ion-input>
          </ion-item>
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span>{{'profile_surname_label'|translate}}</span>
        <span class="profile-field" *ngIf="student.surname">{{student.surname}}</span>
      </ion-col>
      <ion-col>
        <span class="span-input">{{'profile_cel_label'|translate}}</span>
        <span *ngIf="!editMode && student.mobilePhone" class="profile-field">{{student.mobilePhone}}</span>
        <span>
          <ion-item *ngIf="editMode" class="profile-input">
            <ion-input type="text" placeholder="{{'profile_cel_input_placeholder'|translate}}" [(ngModel)]="student.mobilePhone"></ion-input>
          </ion-item>
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span>{{'profile_cf_label'|translate}}</span>
        <span class="profile-field" *ngIf="student.cf">{{student.cf}}</span>
      </ion-col>
      <ion-col>
        <span class="span-input">{{'profile_mail_label'|translate}}</span>
        <span *ngIf="!editMode && student.email" class="profile-field">{{student.email}}</span>
        <span>
          <ion-item *ngIf="editMode" class="profile-input">
            <ion-input type="text" placeholder="{{'profile_mail_input_placeholder'|translate}}" [(ngModel)]="student.email"></ion-input>
          </ion-item>
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span>{{'profile_birthday_label'|translate}}</span>
        <span class="profile-field" *ngIf="student.birthdate">{{student.birthdate}}</span>
      </ion-col>
      <ion-col *ngIf="!editMode">
        <div class="social-buttons">
          <div class="social-button">
            <ion-icon name="logo-facebook" (click)="openSocialLink('facebook')"></ion-icon>
          </div>
          <div class="social-button">
            <ion-icon name="logo-linkedin" (click)="openSocialLink('linkedin')"></ion-icon>
          </div>
          <div class="social-button">
            <ion-icon name="logo-twitter" (click)="openSocialLink('twitter')"></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="editMode">
      <ion-col>
        <span ><ion-icon name="logo-facebook"></ion-icon></span>
        <span>
          <ion-item class="profile-input">
            <ion-input type="text" placeholder="{{'profile_link_placeholder'|translate}}" [(ngModel)]="facebook"></ion-input>
          </ion-item>
          </span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="editMode">
      <ion-col>
        <span><ion-icon name="logo-linkedin"></ion-icon></span>
        <span>
          <ion-item class="profile-input">
            <ion-input type="text" placeholder="{{'profile_link_placeholder'|translate}}" [(ngModel)]="linkedin"></ion-input>
          </ion-item>
        </span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="editMode">
      <ion-col>
        <span><ion-icon name="logo-twitter"></ion-icon></span>
        <span>
          <ion-item class="profile-input">
            <ion-input type="text" placeholder="{{'profile_link_placeholder'|translate}}" [(ngModel)]="twitter"></ion-input>
          </ion-item>
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button class="action-button " *ngIf="!editMode" ion-button (click)=openEditMode()>{{'profile_update_button'|translate}}</button>
        <button class="action-button " *ngIf="!editMode" ion-button (click)=logout()>{{'logout_label'|translate}}</button>
        <button class="action-button " ion-button *ngIf="editMode" (click)=closeEditMode()>{{'profile_cancel_button'|translate}}</button>
        <button class="action-button " ion-button *ngIf="editMode" (click)=saveData()>{{'profile_confirm_button'|translate}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>