.profile-img {
  width: 80px;
  height: 80px;
}
.profile-input {
  display: inline-flex;
  width: 60%;
}
.profile-button{
  background-color: gray;
}
.profile-button:hover{
  background-color: darkgray!important;
}
