page-activities {
  
  .profile-title-label{
    color: $button-color;
    font-size: 20px;
  }
  
  .profile-field {
   font-weight: bold;
  }


  .profile-img {
    width: 100px;
    height: 100px;
     background-position: center center;
     background-repeat: no-repeat;
  }

  .profile-input {
    display: inline-flex;
    width: 60%;
  }
  
  .social-buttons{
    display: inline-flex;
  
    .social-button{
      color: $button-color;
      font-size: 20px;
      margin: 4px;
    }
  }

  .span-input{
    display: inline-block;
    width: 70px;
  }
}
