.login-label {
  text-align: center;
  font-size: 40px;
  color: $title-page-color;
      padding: 100px 20px;
}
.login-button {
      width: 150px;
    height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  &.student-login{
        background-color:$student-color;

  }
    &.school-login{
        background-color:$school-color;

  }
  &.external-login{
        background-color:  $sternal-color;

  }
}
.login-button:hover {
   &.student-login{
        background-color:$student-color;
     opacity: 0.7;

  }
    &.school-login{
        background-color:$school-color;
      opacity: 0.7;

  }
  &.external-login{
        background-color:  $sternal-color;
    opacity: 0.7;

  }

}
