<ion-header>
  <ion-navbar>
    <ion-title>
      {{'title_home'|translate}}
    </ion-title>
      <ion-buttons end>
      <button-notifications></button-notifications><button-profile></button-profile>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="training-list">
   <div class="home-title-label">{{ 'home_training_label' | translate }}</div>
    <ion-list>
      <ion-card class="home-registration" *ngFor="let registration of registrations" (click)="openRegistration(registration)">
        <div>{{registration.teachingUnit.name}}
          </div>
      </ion-card>
       <ion-card class="home-registration" (click)="openExam()">
        <div>
          {{ 'home_exams_label' | translate }}
        </div>
      </ion-card>
<!--
            <ion-card class="home-exams" *ngFor="let exam of exams" (click)="openExam(exam)">
        <div>{{exam.experience.attributes.titoloStudio}}
          </div>
      </ion-card>
-->
    </ion-list>
  </div>
  <div class="experiences-list">
   <div class="home-title-label">{{ 'home_experiences_label' | translate }}</div>
    <ion-list>
      <ion-card class="home-experience" (click)="openStages()">
        <div>
          {{ 'home_stage_label' | translate }}
        </div>
      </ion-card>
            <ion-card class="home-experience" (click)="openActivities()">
        <div>
          {{ 'home_activity_label' | translate }}
        </div>
      </ion-card>
            <ion-card class="home-experience" (click)="openEvents()">
        <div>
          {{ 'home_events_label' | translate }}
        </div>
      </ion-card>
            <ion-card class="home-experience" (click)="openCV()">
        <div>
          {{ 'home_cv_label' | translate }}
        </div>
      </ion-card>
            <ion-card class="home-experience" (click)="openCertifications()">
        <div>
          {{ 'home_certifications_label' | translate }}
        </div>
      </ion-card>
  </ion-list>
    </div>
  <app-bar></app-bar>
</ion-content>
