page-home {
  .training-list {
  float:left;
  display:inline-block;
  width: 50%;

    .home-button {
      font-weight: bold;
       height: 50px;
    text-align: center;
    line-height: 50px;
      color: white;
    &.home-registration {
    background-color: $formation-color;

    }
    &.home-exams{

    background-color: $formation-color;
    }
    }

}
.experiences-list {
  float:right;
  display:inline-block;
  width: 50%;
  .home-experience{
       height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
          font-weight: bold;

    background-color: $experience-color;
    }
  }
 .home-title-label {
      text-align: center;
       height: 40px;
    line-height: 40px;
    font-size: 20px;
   margin: 5px;
   font-weight: bold;
    &.institutional-title {
    color:  #00897b;
    border-bottom: 2px solid  #00897b;
      }
      &.experience-title {
        color: #039be5;
        border-bottom: 2px solid  #039be5;

      }
    }
  }

