.subject-title {
    width: 100% !important;
    margin: 6px;
    font-weight: bold;
    font-size: 14px;
}
    .single-subject-title{
        margin: 6px;
        text-align: center;
    }
    .single-subject-teacher{
        margin: 6px;
        text-align: center;
    }
.single-subject-header{
    text-align: center;
    font-style: italic;
    font-size: 16px;

}