<ion-header>
  <ion-navbar>

    <ion-title>
      <ion-row>
        <img class="profile-img" *ngIf="student.contentType" [src]="profilePicture" />
        <img class="profile-img" *ngIf="!student.contentType" src="../assets/images/profile-pictures.png" />
        <ion-label>{{student.name}} {{student.surname}}</ion-label>
        <ion-label>{{'title_curriculum'|translate}}</ion-label>
      </ion-row>
    </ion-title>

    <ion-buttons end>
      <button-credits></button-credits>
      <button-notifications></button-notifications>
      <button-profile></button-profile>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button color="secondary" (click)="downloadCV()">{{'cv_download_label'|translate}}</button>

  <ion-label padding>{{'cv_main_heading'|translate}}</ion-label>

  <div class="div anagrafic-part">

    <ion-label padding class="key">{{'cv_personal_info'|translate|uppercase}}</ion-label>
    <ion-label padding>{{student.name}} {{student.surname}} </ion-label>

    <ion-row>
      <ion-icon padding name="md-pin"></ion-icon>
      <div padding>{{student.address}}</div>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-row>
          <ion-icon padding name="md-call"></ion-icon>
          <div padding>{{student.phone}}</div>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-icon padding name="md-phone-portrait"></ion-icon>
          <div padding>{{student.mobilePhone}}</div>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-icon padding name="md-mail"></ion-icon>
      <div padding>{{student.email}}</div>
    </ion-row>

    <ion-row>
      <ion-label padding>{{'profile_birthday_label'|translate}}: {{student.birthdate}}</ion-label>
    </ion-row>
  </div>

  <div class="div">
    <ion-row>
      <ion-col>
        <ion-label padding class="key">{{'cv_experience_label'|translate}}</ion-label>
      </ion-col>
      <!-- <ion-label padding class="link" *ngIf="(experiences && experiences.length>0)" (click)="selectAll(experiences)">Seleziona tutto</ion-label> -->
      <ion-col *ngIf="(experiences && experiences.length>0)">
        <div class="curriculm div-select-all">
          <!-- style="position: absolute;right: 40px;color: cadetblue; top: 20px" -->
          <ion-label *ngIf="!selectAllProfExp">Seleziona tutto</ion-label>
          <ion-label *ngIf="selectAllProfExp">Deseleziona tutto</ion-label>
        </div>
        <div class="curriculm div-select-all-checkbox" >
          <!-- style="position: absolute;top: 34px;right:20px;" -->
          <ion-checkbox checked="false" [(ngModel)]="selectAllProfExp" (click)="selectAllProfessionExperience($event, experiences)"></ion-checkbox>
        </div>
      </ion-col>
    </ion-row>

    <ion-list *ngIf="(experiences && experiences.length>0)">

      <div padding *ngFor="let experience of experiences|orderBy:'experience.attributes.dateFrom':false;" class="div">
        <ion-row>
          <ion-col>
            <label>{{ experience.experience.attributes.dateFrom | localizedDate:'MMM yyyy' }} - {{ experience.experience.attributes.dateTo | localizedDate:'MMM yyyy' }} </label>
          </ion-col>
          <ion-col>
            <label>{{experience.experience.attributes.title}}</label>
          </ion-col>
          <ion-col>
            <div class="curriculm div-checkbox">
              <ion-checkbox checked="false" [(ngModel)]="experience.checked" (click)="toggleProfessionExperience($event,experience)"></ion-checkbox>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <label *ngIf="experience.experience.attributes.contact">{{experience.experience.attributes.contact}} - {{experience.experience.attributes.location}}</label>
            <label *ngIf="!experience.experience.attributes.contact">{{experience.experience.attributes.location}}</label>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>

        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <label>{{experience.experience.attributes.description}}</label>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>

      </div>

    </ion-list>

    <ion-item *ngIf="(experiences && experiences.length==0)">
      {{'cv_empty_experience_label'|translate}}
    </ion-item>
  </div>

  <div class="div">
    <ion-row>
      <ion-label padding class="key">{{'cv_training_label'|translate}}</ion-label>
      <!-- <ion-label padding class="link" *ngIf="((trainings && trainings.length>0)||(registrations && registrations.length>0))" (click)="selectAllTrainingRegistration()">Seleziona tutto</ion-label> -->
      <ion-col *ngIf="((trainings && trainings.length>0)||(registrations && registrations.length>0))">
        <div class="curriculm div-select-all">
          <ion-label *ngIf="!selectAllRegistrationsTrainings">Seleziona tutto</ion-label>
          <ion-label *ngIf="selectAllRegistrationsTrainings">Deseleziona tutto</ion-label>
        </div>
        <div class="curriculm div-select-all-checkbox">
          <ion-checkbox checked="false" [(ngModel)]="selectAllRegistrationsTrainings" (click)="selectAllRegistrationTrainingsObjs($event, registrations, trainings)"></ion-checkbox>
        </div>
      </ion-col>
    </ion-row>

    <ion-list *ngIf="(registrations && registrations.length>0)">

      <div padding *ngFor="let registration of registrations|orderBy:'dateFrom':false;" class="div">

        <ion-row>
          <ion-col>
            <label>{{ registration.dateFrom | localizedDate:'MMM yyyy' }} - {{ registration.dateTo | localizedDate:'MMM yyyy' }} </label>
          </ion-col>
          <ion-col>
            <label>{{registration.course}}</label>
          </ion-col>
          <ion-col>
            <div class="div-checkbox">
              <ion-checkbox checked="false" [(ngModel)]="registration.checked" (click)="toggleRegistration($event,registration)"></ion-checkbox>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <label *ngIf="registration.teachingUnit.name">{{registration.teachingUnit.name}}</label>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>

        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <label *ngIf="registration.institute.name">{{registration.institute.name}}</label>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>

      </div>

    </ion-list>

    <ion-list *ngIf="(trainings && trainings.length>0)">

      <div padding *ngFor="let training of trainings|orderBy:'experience.attributes.dateFrom':false;" class="curriculum div">
        <ion-row>
          <ion-col>
            <label>{{ training.experience.attributes.dateFrom | localizedDate:'MMM yyyy' }} - {{ training.experience.attributes.dateTo | localizedDate:'MMM yyyy' }} </label>
          </ion-col>
          <ion-col>
            <label>{{training.experience.attributes.title}}</label>
          </ion-col>
          <ion-col>
            <div class="div-checkbox">
              <ion-checkbox checked="false" [(ngModel)]="training.checked" (click)="toggleTraining($event,training)"></ion-checkbox>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <label *ngIf="training.experience.attributes.lang">{{training.experience.attributes.lang}}</label>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>

        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <label *ngIf="training.experience.attributes.location">{{training.experience.attributes.location}}</label>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>

      </div>

    </ion-list>

    <ion-item *ngIf="(trainings && trainings.length==0 && registrations && registrations.length==0)">
      {{'cv_empty_training_label'|translate}}
    </ion-item>
  </div>

  <div class="div">
    <ion-row>
      <ion-label padding class="key">{{'cv_skills_label'|translate}}</ion-label>
      <!-- <ion-label padding class="link" *ngIf="(skills && skills.length>0)" (click)="selectAll(skills)">Seleziona tutto</ion-label> -->
      <ion-col *ngIf="(skills && skills.length>0)">
        <div class="curriculm div-select-all">
          <ion-label *ngIf="!selectAllSkills">Seleziona tutto</ion-label>
          <ion-label *ngIf="selectAllSkills">Deseleziona tutto</ion-label>
        </div>
        <div class="curriculm div-select-all-checkbox">
          <ion-checkbox checked="false" [(ngModel)]="selectAllSkills" (click)="selectAllSkillsObjs($event, skills)"></ion-checkbox>
        </div>
      </ion-col>
    </ion-row>
    <ion-list *ngIf="(skills && skills.length>0)">

      <div padding *ngFor="let skill of skills|orderBy:'experience.attributes.dateFrom':false;" class="curriculum div">
        <ion-row>
          <ion-col>
            <label>{{skill.experience.attributes.lang}} </label>
          </ion-col>
          <ion-col>
            <label>{{skill.experience.attributes.title}}</label>
          </ion-col>
          <ion-col>
            <div class="div-checkbox">
              <ion-checkbox checked="false" [(ngModel)]="skill.checked" (click)="toggleSkill($event,skill)"></ion-checkbox>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <label *ngIf="skill.experience.attributes.level">{{skill.experience.attributes.level}}</label>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </div>
    </ion-list>
    <ion-item *ngIf="(skills && skills.length==0)">
      {{'cv_empty_skills_label'|translate}}
    </ion-item>
  </div>

  <div class="div">
    <ion-row>
      <ion-label padding class="key">ALLEGATI</ion-label>
      <!-- <ion-label padding class="link" *ngIf="(attachments && attachments.length>0)" (click)="selectAllDocument()">Seleziona tutto</ion-label> -->
      <ion-col *ngIf="(attachments && attachments.length>0)">
        <div class="curriculm div-select-all">
          <ion-label *ngIf="!selectAllAttachments">Seleziona tutto</ion-label>
          <ion-label *ngIf="selectAllAttachments">Deseleziona tutto</ion-label>
        </div>
        <div class="curriculm div-select-all-checkbox">
          <ion-checkbox checked="false" [(ngModel)]="selectAllAttachments" (click)="selectAllAttachmentsObjs($event, attachments)"></ion-checkbox>
        </div>
      </ion-col>
    </ion-row>
    <ion-list *ngIf="(attachments && attachments.length>0)">
      <ion-item *ngFor="let attachment of attachments;">
        <ion-label *ngIf="attachment.attributes.title">{{attachment.attributes.title}}</ion-label>
        <ion-label *ngIf="!attachment.attributes.title && attachment.filename">{{attachment.filename}}</ion-label>
        <ion-checkbox checked="false" [(ngModel)]="attachment.checked" (click)="toggleAttachment($event,attachment)" item-right></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-item *ngIf="(attachments && attachments.length==0)">
      {{'cv_empty_attachment_label'|translate}}
    </ion-item>
  </div>

</ion-content>