<ion-header>
  <ion-navbar>
    <ion-title>
      {{'title_certifications'|translate}}
    </ion-title>
    <ion-buttons end>
      <button-home></button-home><button-notifications></button-notifications><button-profile></button-profile>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
  <ion-row>
    <ion-col col-8>
  <div class="search-filter">
    <input type="text" [(ngModel)]="filter" placeholder="{{'stage_filter_placeholder'|translate}}">
    <ion-icon class="filter-search-icon" name="md-search"></ion-icon>
    <ion-item>
      <ion-label>{{'order_label'|translate}}</ion-label>
      <ion-select [(ngModel)]="order">
        <ion-option value=true>A-Z</ion-option>
        <ion-option value=false>Z-A</ion-option>
      </ion-select>
    </ion-item>
  </div>
    </ion-col>
     <ion-col col-4>
    <div>
    <button class="button-add-stage label-button" ion-button clear (click)="addNewCertification()">{{'certification_add_new_button'|translate}}</button>
  </div>
    </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="(certifications && certifications.length>0)">
    <ion-card  *ngFor="let certification of certifications| experiencefilter:filter:'title'| orderBy:'certification.experience.attributes.title':order">
      <div class="experience-expandable-list">
        <div class="experience-title">{{certification.experience.attributes.title}}</div>
         <div class="experience-certificate"><span *ngIf="certification.certificate && certification.certificate.documentPresent">{{'certificate_label'|translate}}</span><span *ngIf="!(certification.certificate && certification.certificate.documentPresent)">{{'not_certificate_label'|translate}}</span></div>
      <!--<button class="stage-expansion" clear  ion-button icon-only (click)="toggleDetails(certification)"> <ion-icon class="experience-expansion-icon" item-right [name]="isDetailsShown(certification) ? 'ios-arrow-up' : 'ios-arrow-down'"></ion-icon></button>-->
      </div>
      <!--<div padding *ngIf="isDetailsShown(certification)">-->
         <div padding>
          <div class="experience-title"> <span class="registration-institute-label">{{'certificate_title_label'|translate}}</span> {{certification.experience.attributes.title}}</div>
         <div class="experience-title"> <span class="registration-institute-label">{{'certificate_dateFrom_label'|translate}}</span>{{certification.experience.attributes.dateFrom |date}}</div>
         <div class="experience-title"> <span class="registration-institute-label">{{'certificate_dateTo_label'|translate}}</span>{{certification.experience.attributes.dateTo |date}}</div>
         <div class="experience-title"> <span class="registration-institute-label">{{'certificate_location_label'|translate}}</span>{{certification.experience.attributes.location}}</div>
         <div class="experience-title"> <span class="registration-institute-label">{{'certificate_description_label'|translate}}</span>{{certification.experience.attributes.description}}</div>
        <div>
         <div class="experience-title" *ngIf="certification.certificate!=null && certification.certificate.documentPresent"> <span class="registration-institute-label">{{'certificate_certificate_label'|translate}}</span><a download="certificate.txt" class="button label-button" href="{{ certification.certificate.documentUri}}"><ion-icon name="md-download"></ion-icon></a></div>
        <div class="experience-action-buttons" *ngIf="!certification.experience.attributes.institutional">
          <button class="label-button" ion-button clear (click)="deleteCertification(certification)">{{'delete_button'|translate}}</button>
          <button class="label-button" ion-button clear (click)="updateCertification(certification)">{{'update_button'|translate}}</button>
        </div>
      </div>
      </div>
    </ion-card>
  </ion-list>
        <ion-card class="eperience-empty-list-label" *ngIf="(certifications && certifications.length==0)">
      {{'certifications_empty_list_label'|translate}}
  </ion-card>
</ion-content>
