.row-add-stage {
  height: $picker-md-toolbar-height	;
  position: relative;
  .button-add-stage{
    position: absolute;
    right: 5px;
  }

}
//.stage-filter{
//  width: 100%;
//  display: inline-flex;
//  input {
//    min-width: 50%;
//  }
//  .filter-search-icon{
//    font-size: 40px;
//  }
//}

