<div id="app-bar" [ngClass]="{'bar-expanded': expanded , 'bar-compressed':!expanded}" >
  <div class="button-toggle" >      {{'bar-link-label'|translate |uppercase}}
<button  clear  ion-button icon-only (click)="toggleBar()"> <ion-icon class="app-expansion-icon" item-right [name]="expanded ?  'ios-arrow-down':'ios-arrow-up' "></ion-icon></button></div>
 <ion-grid>
    <ion-row>
      <ion-col col-auto>
          <div><button class="app-bar-button" [block]="true" ion-button >Curriculum</button>
        </div>
      </ion-col>
       <ion-col col-auto>
          <div><button class="app-bar-button" [block]="true" ion-button >Trova lavoro</button>
        </div>
      </ion-col>
       <ion-col col-auto>
          <div><button class="app-bar-button" [block]="true" ion-button>Universita`</button>
        </div>
      </ion-col>
             <ion-col col-auto>
          <div><button class="app-bar-button" [block]="true" ion-button>Moodle</button>
        </div>
      </ion-col>
             <ion-col col-auto>
          <div><button class="app-bar-button" [block]="true" ion-button>Biblioteca</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
