<div id="app-bar">
 <ion-grid>
    <ion-row>
      <ion-col col-1>
          <div><button class="app-bar-button" [block]="true" ion-button navPush="Home">APP 1</button>
        </div>
      </ion-col>
            <ion-col col-1>
          <div><button class="app-bar-button" [block]="true" ion-button navPush="Home">APP 2</button>
        </div>
      </ion-col>
            <ion-col col-1>
          <div><button class="app-bar-button" [block]="true" ion-button navPush="Home">APP 3</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
